
.wrapper {
  justify-content: center;
  margin: 0 auto;
}

#app .v-card__title {
  word-break: break-word;
}

.invisible {
  opacity: 0;
  height: 0;
}

@media screen and (max-width: 480px) {
  .card {
    .v-rating .v-icon {
      padding: 0.2rem;
    }
  }
  header {
    .v-toolbar__content {
      padding: 4px 8px;
    }
  }
}
